server:
  rest:
    addr: ":7788"
    timeout: 10s
    enable_swagger: true
    enable_pprof: true
    cors:
      headers:
        - "X-Requested-With"
        - "Content-Type"
        - "Authorization"
      methods:
        - "GET"
        - "POST"
        - "PUT"
        - "DELETE"
        - "HEAD"
        - "OPTIONS"
      origins:
        - "*"
    middleware:
      auth:
        method: "HS256"
        key: "some_api_key"

  asynq:
    endpoint: "redis:6379"
    password: "*Abcd123456"
    db: 1

  sse:
    addr: ":7789"
    codec: "json"
    path: "/events"
